<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
          <div class="table-responsive">
            <table class="table user-list">
              <thead>
                <tr>
                  <th>
                    <span>User</span>
                  </th>
                  <th>
                    <span>Created</span>
                  </th>
                  <th class="text-center">
                    <span>Role</span>
                  </th>
                  <th>
                    <span>Email</span>
                  </th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of userList">
                  <td>
                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="user-link" (click)="pop(user)">{{user.firstName+user.lastName}}</a>
                    <span class="user-subhead">Member</span>
                  </td>
                  <td>{{date}}</td>
                  <td class="text-center">
                    <span class="label label-primary">Admin</span>
                  </td>
                  <td>
                    <a href="#">{{user.email}}</a>
                  </td>
                <td>
                  <button class="btn btn-primary" (click)="edited(user)">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="hidden-xs hidden-sm">Edit</span>
                  </button>
                </td>
                
                <td>
                  <button class="btn btn-danger" (click)="removed(user)">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span class="hidden-xs hidden-sm">Delete</span>
                  </button>
                </td>
                <!-- Modal --> 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
   <app-profile *ngIf="user" [user]="user"></app-profile>
</div>

