<div class="container">

  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>

    <form class="form-signin" (submit)="onSubmit(form)" novalidate #form="ngForm">

<span id="reauth-email" class="reauth-email"></span>

<input #firstName="ngModel" name="firstName" type="text" id="inputfName" class="form-control" 
placeholder="First Name" [(ngModel)]="newUser.firstName"
required autofocus>

<div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
  FirstName is required
</div>

<input #lastName="ngModel" name="lastName" type="text" id="inputlName" class="form-control" 
placeholder="Last Name" [(ngModel)]="newUser.lastName" required autofocus>

<div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
  LastName is required
</div>

<input #email="ngModel" name="email" type="email" id="inputEmail" class="form-control" 
placeholder="Email address" [(ngModel)]="newUser.email"
required autofocus pattern=".+@.+">

<p [hidden]="email.pristine || email.valid" class="alert alert-danger">Incorrect Email</p>

<input #password="ngModel"  type="password" id="inputPassword" name="password" class="form-control"
placeholder="Password" [(ngModel)]="newUser.password" 
required  minlength="8">
  
<p [hidden]="password.valid||password.pristine" class="alert alert-danger">Atleast 8 characters long,one number,one character and one special character</p>

      <button class="btn btn-lg btn-primary btn-block btn-signin" [disabled]="!form.form.valid" type="submit" ng-disabled="form.$invalid">Sign up</button>
      <p>Already have account</p>  
      <button class="btn btn-lg btn-primary btn-block btn-signin" routerLink="/login">Sign in</button>
    </form>
    <!-- /form -->
    <!-- <a href="#" class="forgot-password">
        Forgot the password?
      </a> 
      <p>{{loginErr}}</p>-->
  </div>
  <!-- /card-container -->
</div>
<!-- /container /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/-->
<!-- Regex should be like this /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{4,20}/ 
  (?=.*[A-Za-z]) - Assert a string has at least one Alphabet;
  (?=.*\d) -Assert a string has at least one number;
  [A-Za-z\d]{4,20} - Characters (Only numbers and letters) length should
be between 4 and 20 -->